<h1>Admin::Dashboard#show</h1>
<h4>Total Products: <%= @count_p %></h4> 
 <% Product.all.each do |product| %>
              <li><%= link_to product.name, product %></li>
            <% end %>
<h4>Total Categories: <%= @count_c %></h4> 
 <% Category.all.each do |category| %>
              <li><%= link_to category.name, category %></li>
            <% end %>

